@import url("https://fonts.googleapis.com/css2?family=Rubik+Vinyl&display=swap");
html,
body {
  font-family: "Rubik Vinyl", cursive;
  background: rgb(0, 0, 255);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 255, 1) 0%,
    rgba(255, 0, 0, 1) 35%,
    rgba(0, 255, 0, 1) 100%
  );
}
canvas {
  display: inline-block;
  margin-left: 35%;
  margin-top: 0, 5%;
  padding: 0%;
  border: 12px solid #000000;
  border-radius: 10px;
}
h1,
h3 {
  text-align: center;
  color: black;
}
